.Weather {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: #719192;
  padding: 40px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
}

.Weather img {
  position: relative;
  right: 5px;
  top: -20px;
}

.Weather li {
  display: inline-block;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.Weather .units {
  position: relative;
  top: -34px;
}

.Weather .search-form {
  margin-bottom: 20px;
}

.Weather .search-city-button {
  background: #80ac7b;
  height: 35px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}

.Weather .search-city-button:hover {
  background-color: #7c7c7c;
  transform: translateY(-3px);
}

.Weather .current-button {
  background: #8cbeaa;
  border: none;
  border-radius: 45px;
  height: 35px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.Weather .current-button:hover {
  background-color: #7c7c7c;
  transform: translateY(-3px);
}

.Weather .current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .current-temp .active:hover {
  text-decoration: none;
}

.Weather a:link {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperatures {
  font-size: 13px;
}
